:root{
/* --green1: #52b788;
--green2: #40916c;
--green3: #2d6a4f;
--green4: #1b4332;
--green5: #081c15; */

/* --green1: url(/images/pattern_color.jpg);
--green2: url(/images/pattern_color.jpg);
--green3: url(/images/pattern_color.jpg);
--green4: url(/images/pattern_color.jpg);
--green5: url(/images/pattern_color.jpg); */

--green1: linear-gradient(45deg,#6303B1 50%, #ff0099 50%);
--green2: linear-gradient(45deg,#6303B1 50%, #ff0099 50%);
--green3: linear-gradient(45deg,#6303B1 50%, #ff0099 50%);
--green4: linear-gradient(45deg,#6303B1 50%, #ff0099 50%);
--green5: linear-gradient(45deg,#6303B1 50%, #ff0099 50%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* user-select: none;
    -webkit-user-drag: none;  Interesting to not drag photos*/ 
    /* color:white !important; */
  }
  body {
    font-size: 1rem;
    font-family: roboto;
    background: var(--green1);
  }
  .icon {
    width: 50px;
  }
  .menu {
    background: var(--green1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-list {
    display: inline-block;
    padding: 1rem 2rem;
    border-bottom: 2px solid var(--green5);
    margin: 0 -2px;
  }
  .menu-list-item {
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    
  }
  .menu-list-img {
    border: none;
  }
  .menu-list:hover {
    background: var(--green2);
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top:1px solid black;
    border-radius: 2rem;
    /* border-radius:50% 50%; */
    margin:0 -2px;
  }
  .contact-list {
    display: block;
    padding: 1rem 2rem;
    color: black;
    text-decoration: none;
    border: 1px solid var(--green5);
    border-radius: 1rem;
    text-align: center;
  }
  .contact-list:hover {
    background: linear-gradient(45deg,#6303B1 50%, #ff0099 50%);
    border-top:1px solid black;
    border-bottom:1px solid black;
    border-radius: 2rem;
  }
  
  #grid {
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "contact" "information" "feature";
    border:1px solid var(--green5);
    grid-gap:1rem;
    border-top:1px solid black;
  }
  #contact {
    padding-top:2rem;
    grid-area: "contact";
    /* border: 1px solid black; */
    text-align: center;
    background: var(--green3);
    border-right:1px solid black;
    
  }
  #information {
    padding-top:2rem;
    grid-area: "information";
    /* border: 1px solid black; */
    text-align: center;
    background: var(--green3);
    
  }
  #feature {
    padding-top:2.45rem;
    grid-area: "feature";
    /* border: 1px solid black; */
    text-align: center;
    background: var(--green3);
    border-left:1px solid black;
    padding-left:1rem;
    padding-right:1rem;
  }
  /* main {
    padding-top: 2rem;
  } */
  #feature h3,p {
      padding-top:1rem;
  }
  
  #grid-info{
      display:grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
      "info-img" "info-info";
      grid-gap:2rem;
      
      
  }
  #info-img{
      grid-area:"info-img";
      /* border:1px solid var(--green5); */
  }
  #info-info{
      grid-area:"info-info";
      text-align:left;
      /* border:1px solid var(--green5); */
  }
  
  /* .div-date-image{
      display:grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.1fr 1fr;
      grid-template-areas:
      "p-date" "photo-dog";
      grid-gap:2rem;
  }   */
  .photo-dog{
      width:100%;
  }
  .p-date{
      background:var(--green1);
      text-align:center;
      align-items:center;
      padding:0;
      margin:0;  
  }
  h1{
      padding-bottom:0.3rem;
  }
  figure{
    width:100%;
  }
  .div-date-img{
    margin-bottom:-4px;
    padding-bottom:0;
  }
  .padding-top{
    padding-top:2rem;
  }
  span{
    color:blue;
  }
  textarea{
    margin-top:1rem;
    width:100%;
    /* height:calc(100% - (8 * 35px + 16px)); */
    resize:none;
    border:3px solid black;
  }
.radio{
  padding-top:1rem;
}
p{
  border-bottom:1px solid black;
}
input{
  /* display:block; */
}